<style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            text-align: center;
            background-color: #f5c411;
            color: Red;
            padding: 1em;
        }

        nav {
            background-color: red;
        }

        nav ul {
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        nav ul li {
            width: 20%;
            text-align: center;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
            display: block;
            padding: 1em;
        }

        main {
            display: flex;
            justify-content: space-between;
            padding: 1em;
        }

        article {
            width: 60%;
            margin: 1.5em 2.52525% 0 2.0202%;
        }

        article img {
            max-width: 100%;
            margin-bottom: 1em;
        }

        aside {
            width: 40%;
            padding: 2.0202%;
            max-width: 200px;
            min-height: 180px;
            background-color: #ffebc6;
            margin: 1.5em 2.0202% 0 0;
        }

        footer {
            background-color: #83d5f5;
            color: white;
            text-align: center;
            padding: 1em;
        }
#galGrid img {
    width: 200px;     
    height: 200px;    
    object-fit: cover; 
    margin: 10px;      
    border: 1px solid #ccc; 
}

    </style>
